#header-nav {
  background-color: #abaaa9;
  border-radius: 0;
  border: 0;
}

.container{
	margin: 0;
	padding: 0;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #f08113;
  font-size:1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  padding-left:25px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}
.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color:#e3e164;
	border:2px solid black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.menu-item:hover {
	background-color:red;
	color:red;
	}